<div class="todo-app">
    <h1>To-Do List</h1>
  
    <!-- Input to add a new task -->
    <div class="add-task">
      <input [(ngModel)]="newTask" placeholder="Add new task" />
      <button (click)="addTask()">Add Task</button>
    </div>
  
    <!-- Display the list of tasks -->
    <ul>
      <li *ngFor="let task of tasks">
        <input type="checkbox" [(ngModel)]="task.completed" />
        <span [ngClass]="{ 'completed': task.completed }">{{ task.name }}</span>
        <button (click)="deleteTask(task)">Delete</button>
      </li>
    </ul>
  </div>
  
